/* Framework */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css");

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&family=Source+Code+Pro:ital,wght@0,400;0,700;1,400;1,600&display=swap");

* {
	box-sizing: border-box; /* This new box model avoids the dimensional issues that exist in the former box model you learned about. In this box model, the height and width of the box will remain fixed. The border thickness and padding will be included inside of the box, which means the overall dimensions of the box do not change. border: 1px dotted yellow; */
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

/* Pattern */
body {
	background-color: #000000;
	/* opacity: 0.8; */
	background-image: radial-gradient(#45f75a 0.5px, #000000 0.5px);
	background-size: 10px 10px;
	/* font-family: 'Roboto', sans-serif; */
	/* lock horizontal scroll oversize navbar */
	overflow-x: hidden;
}
/*
.row {
    border: 1px solid red;
}
.col {
    border: 1px solid blue;
}
*/

header {
	margin-bottom: 56px;
}

/* .custom-alignment {
    justify-content: center !important;
    border: #4EB543 1px solid;
}

.test-styling {
    border: #2FD8D8 1px solid;
    justify-items: center;
} */

/* .showcase {
	margin-bottom: 0;
	padding-bottom: 0;
	border: 2px solid red;
} */

/* .bgvid {
	border: 1px solid yellow;
} */

.portfolioTitle {
	min-width: 40%;
	width: 45%;
	max-width: 50%;
	height: auto;
	/* border: 2px solid blue; */
}

.profilePicture {
	max-width: 37%;
	min-width: 32%;
	border-radius: 50%;
}

.bubCanvas {
	/* width: 98.8%;
    border: solid 2px blue; */
	background-image: url("../images/pexels-taryn-elliott-3889865.jpg");
	background-size: cover;
	background-position-x: center;
}

/* #myCanvas{
    width: 100%;
} */

/*video {
    z-index: -1;
}
footer * {
    border: 1px solid brown;
}*/

footer {
	margin-top: 24px;
}

/*Text Glitch Effect*/
@import url("https://fonts.googleapis.com/css?family=Fira+Mono:400");

.texteffectcontainer {
	display: flex;
	/* width: 100vw;
  height: 100vh; */
	/* width: 50%;
  height: auto; */
	align-items: center;
	justify-content: center;
	margin: 0;
	/* background: #131313;
  border: #7d5ac2 solid 2px; */
	color: #fff;

	font-size: 30px;
	/* font-family: "Fira Mono", monospace; */
	font-family: "Source Code Pro", monospace;
	/* font-family: 'Roboto', sans-serif; */
	letter-spacing: -5px;
}

.textglitch {
	animation: glitch 1s linear infinite;
}

@keyframes glitch {
	2%,
	64% {
		transform: translate(2px, 0) skew(0deg);
	}
	4%,
	60% {
		transform: translate(-2px, 0) skew(0deg);
	}
	62% {
		transform: translate(0, 0) skew(5deg);
	}
}

.textglitch:before,
.textglitch:after {
	content: attr(title);
	position: absolute;
	left: 0;
}

.textglitch:before {
	animation: glitchTop 1s linear infinite;
	clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {
	2%,
	64% {
		transform: translate(2px, -2px);
	}
	4%,
	60% {
		transform: translate(-2px, 2px);
	}
	62% {
		transform: translate(13px, -1px) skew(-13deg);
	}
}

.textglitch:after {
	animation: glitchBotom 1.5s linear infinite;
	clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
	-webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom {
	2%,
	64% {
		transform: translate(-2px, 0);
	}
	4%,
	60% {
		transform: translate(-2px, 0);
	}
	62% {
		transform: translate(-22px, 5px) skew(21deg);
	}
}

/* Text Scramble Effect */
@import "https://fonts.googleapis.com/css?family=Roboto+Mono:100";
/* html, body {font-family 'Roboto Mono', monospace;
    background #212121;
    height 100%;} */
.textscrambleeffect {
	/* height: 100%;
    width: 90%; */
	justify-content: center;
	align-items: center;
	display: flex;
}
.text {
	font-weight: 80;
	font-size: 15px;
	color: #fafafa;
	font-family: "Roboto Mono", monospace;
}
.dud {
	color: #757575;
}

/* Text Animation */
.textanimation {
	text-align: center;
	/* position: relative; */
	/* top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); */
	/* max-height: 40%; */
	/* width: 100%; */
	margin-bottom: 10px;
	padding-bottom: 5px;
}

.textanimation span {
	text-transform: uppercase;
	display: block;
}

.text1 {
	color: white;
	font-size: 30px;
	font-weight: 400;
	letter-spacing: 8px;
	/* margin-bottom: 20px; */
	background: black;
	position: relative;
	/*   shorthand animation property: name | duration | iteration count */
	/*   animation: text 4s 1; */
	animation-name: text;
	animation-duration: 3s;
	animation-iteration-count: 2;
}

.text2 {
	font-size: 20px;
	/* color: #ffe997; */
	color: #facc15;
}

@keyframes text {
	0% {
		color: black;
		margin-bottom: -40px;
	}
	30% {
		letter-spacing: 25px;
		margin-bottom: -40px;
	}
	85% {
		letter-spacing: 8px;
		margin-bottom: -40px;
	}
	100% {
		margin-bottom: 10px;
	}
}

/*Timeline*/
.fa-dev img {
	transform: rotate(45deg);
	margin-bottom: 2px;
}
.fa-globe img {
	margin-bottom: 2px;
}
.fa-itsuprt img {
	transform: rotate(45deg);
	margin-bottom: 20px;
	margin-right: 20px;
}

.main-timeline {
	font-family: "Roboto", sans-serif;
	position: relative;
}
.main-timeline:after {
	content: "";
	display: block;
	clear: both;
}
.main-timeline:before {
	content: "";
	height: 95%;
	width: 2px;
	border: 2px dashed #a3a3ad;
	transform: translateX(-50%);
	position: absolute;
	left: 50%;
	top: 30px;
}
.main-timeline .timeline {
	width: 50%;
	padding: 0 35px 0 27px;
	margin: 0 10px 20px 0;
	float: left;
}
.main-timeline .timeline-content {
	background: linear-gradient(#d9d9d9, #e7e7e7);
	text-align: center;
	padding: 15px 115px 15px 40px;
	border-radius: 5px;
	box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.6);
	display: block;
	position: relative;
}
.main-timeline .timeline-content:hover {
	text-decoration: none;
}
.main-timeline .timeline-content:before,
.main-timeline .timeline-content:after {
	content: "";
	background: linear-gradient(to bottom, #647cde, #78b0fa);
	width: 45px;
	height: 45px;
	transform: rotate(-45deg);
	position: absolute;
	top: 13px;
	right: -58px;
	z-index: 1;
}
.main-timeline .timeline-content:after {
	background: #fff;
	transform: rotate(-45deg) scale(0.6);
}
.main-timeline .timeline-icon {
	color: #fff;
	background: linear-gradient(to right, #617de0, #78b1f8);
	font-size: 23px;
	text-align: center;
	line-height: 40px;
	height: 40px;
	width: 40px;
	transform: translateY(-50%) rotate(-45deg);
	position: absolute;
	top: 50%;
	left: -20px;
}
.main-timeline .timeline-icon i {
	transform: rotate(45deg);
}
.main-timeline .timeline-year {
	color: #fff;
	background: linear-gradient(to bottom, #617de0, #617de0, #78b1f8);
	font-size: 32px;
	font-weight: 900;
	text-align: center;
	line-height: 100px;
	height: 100%;
	width: 100px;
	border-radius: 0 0 5px 0;
	position: absolute;
	right: 0;
	top: 0;
}
.main-timeline .timeline-year:after {
	content: "";
	background: linear-gradient(to right bottom, #617de0 49%, transparent 50%);
	height: 33px;
	width: 33px;
	position: absolute;
	right: -33px;
	top: 0;
}
.main-timeline .title {
	color: #000;
	font-size: 20px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 0 0 7px 0;
}
.main-timeline .description {
	color: #333;
	font-size: 15px;
	letter-spacing: 1px;
	margin: 0;
}
.main-timeline .timeline:nth-child(even) {
	padding: 0 27px 0 35px;
	margin: 0 0 20px 10px;
	float: right;
}
.main-timeline .timeline:nth-child(even) .timeline-content {
	padding: 15px 40px 15px 115px;
}
.main-timeline .timeline:nth-child(even) .timeline-content:before,
.main-timeline .timeline:nth-child(even) .timeline-content:after {
	right: auto;
	left: -58px;
}
.main-timeline .timeline:nth-child(even) .timeline-icon {
	left: auto;
	right: -20px;
}
.main-timeline .timeline:nth-child(even) .timeline-year {
	right: auto;
	left: 0;
	border-radius: 0 0 0 5px;
}
.main-timeline .timeline:nth-child(even) .timeline-year:after {
	transform: rotateY(180deg);
	right: auto;
	left: -33px;
}
.main-timeline .timeline:nth-child(4n + 2) .timeline-content:before,
.main-timeline .timeline:nth-child(4n + 2) .timeline-icon {
	background: linear-gradient(to left, #f53b57, #ef5777);
}
.main-timeline .timeline:nth-child(4n + 2) .timeline-year {
	background: linear-gradient(to bottom, #f53b57, #f53b57, #ef5777);
}
.main-timeline .timeline:nth-child(4n + 2) .timeline-year:after {
	background: linear-gradient(to right bottom, #f53b57 49%, transparent 50%);
}
.main-timeline .timeline:nth-child(4n + 3) .timeline-content:before,
.main-timeline .timeline:nth-child(4n + 3) .timeline-icon {
	background: linear-gradient(to bottom, #227e22, #63a211);
}
.main-timeline .timeline:nth-child(4n + 3) .timeline-year {
	background: linear-gradient(to bottom, #227e22, #227e22, #63a211);
}
.main-timeline .timeline:nth-child(4n + 3) .timeline-year:after {
	background: linear-gradient(to right bottom, #227e22 49%, transparent 50%);
}
.main-timeline .timeline:nth-child(4n + 4) .timeline-content:before,
.main-timeline .timeline:nth-child(4n + 4) .timeline-icon {
	background: linear-gradient(to left, #7d5ac2, #b493fe);
}
.main-timeline .timeline:nth-child(4n + 4) .timeline-year {
	background: linear-gradient(to bottom, #7d5ac2, #7d5ac2, #b493fe);
}
.main-timeline .timeline:nth-child(4n + 4) .timeline-year:after {
	background: linear-gradient(to right bottom, #7d5ac2 49%, transparent 50%);
}
@media screen and (max-width: 767px) {
	.main-timeline:before {
		left: 17px;
		transform: translateX(0);
	}
	.main-timeline .timeline,
	.main-timeline .timeline:nth-child(even) {
		width: 100%;
		padding: 0 0 27px 40px;
		margin: 0 0 30px 0;
	}
	.main-timeline .timeline-content,
	.main-timeline .timeline:nth-child(even) .timeline-content {
		padding: 70px 15px 35px 15px;
	}
	.main-timeline .timeline-content:before,
	.main-timeline .timeline-content:after,
	.main-timeline .timeline:nth-child(even) .timeline-content:before,
	.main-timeline .timeline:nth-child(even) .timeline-content:after {
		height: 25px;
		width: 25px;
		top: 10px;
		right: auto;
		left: -34px;
	}
	.main-timeline .timeline-icon,
	.main-timeline .timeline:nth-child(even) .timeline-icon {
		transform: translateY(0) translateX(50%) rotate(-45deg);
		left: auto;
		right: 50%;
		top: auto;
		bottom: -20px;
	}
	.main-timeline .timeline-year,
	.main-timeline .timeline:nth-child(even) .timeline-year {
		width: 100%;
		height: 50px;
		line-height: 50px;
		border-radius: 0 5px 5px 5px;
		right: auto;
		left: 0;
	}
	.main-timeline .timeline-year:after,
	.main-timeline .timeline:nth-child(even) .timeline-year:after {
		height: 20px;
		width: 20px;
		transform: rotateY(180deg);
		right: auto;
		left: -20px;
	}
}
@media screen and (max-width: 576px) {
	.main-timeline .title {
		font-size: 18px;
	}
}

.skillicons {
	background-color: #fff;
}

.colorLabel {
	scale: 40%;
}

.dot {
	height: 12px;
	width: 12px;
	border-radius: 50%;
	/* background-color: #fff; */
	display: inline-block;
}
